.session-date {
    display: flex;
    background: var(--bg-gray);
    color: var(--purple);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    box-shadow: -2px 4px 12px -5px rgba(0,0,0,0.75);
    border: 1px solid rgba(162, 161, 161, 0.3);
  }

  /* Pill */
  .details>div:nth-child(1) {
    font-size: larger;
  }