/* Helpers */
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.flex-grow-1 {
  flex-grow: 1;
}
.anti-row {
  margin-right: -30px;
  margin-left: -30px;
}
/* Specific */
.session-date {
  display: flex;
  background: var(--bg-gray);
  color: var(--purple);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: -2px 4px 12px -5px rgba(0,0,0,0.75);
  border: 1px solid rgba(162, 161, 161, 0.3);
}

/* Pill */
.details>div:nth-child(1) {
  font-size: larger;
}

/** Sidebar */
/**
@todo var(--nav-height)
*/
#sidebarContainer {
  min-height: calc(100vh - 55px);
  padding: 0;
  background-color: var(--indigo);
}
/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 230px;
}
.sidebar-collapsed {
  width: 60px;
}
/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
.sidebar-submenu {
  font-size: 0.9rem;
}
.list-group-item-action {
  cursor: pointer;
}

/** Client management */
.manage-row {
  margin-left: -30px;
  margin-right: -30px;
}
.client-header-top {
  height: 90px;
  background: var(--blue);
}
.client-name-circle {
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}